---
import Hero from '@/components/astro/Hero.astro';
import WorkExperience from '@/components/astro/WorkExperience.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Stephen O'Dea">
    <main class='flex min-h-[100dvh] flex-col space-y-10'>
        <Hero />
        <WorkExperience />
    </main>
</Layout>
